body{
    background-color:#FAF8F1 ;
    margin-left: 50px;
    margin-right: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

hr{
    
    border-style:solid;
    height: 3px;
    width: 30%;
    border-top-style: dotted;
    border-bottom-style: none;
    border-left: none;
    border-right: none;
    border-color: rgb(247, 213, 154);
}

h1{
    color:#E5BA73 ;
    font-weight: bold;
    font-size: 35px;
}
h2{
   color: #E5BA73 ;
   

}

.tableheading{
    font-weight: 400;
    color: #C58940;
    text-decoration: underline;
}

img{
    border-radius: 15%;
}

.skillsheading{
    font-weight: bold;
    color: #C58940;
    text-decoration: underline;
}

.giris{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    margin-bottom: 0%;
    height: 40px;
    width: 100%;
    margin: 0px;
}

.contact{
    width: 420px;
    height: 100%;
    margin: auto;
    background-color: #C58940;
}

.ile{
    width: 30px;
    height: 30px;
    margin-left: 81px;
    margin-top: 5px;
    position: relative;
}
